
body {
  text-align: center;
  background-color: black;
}

.guide-tag {
  font-size: 0.8rem;
  color: grey;
  position: absolute;
  top: 36px;
  left: 60%;
  right: 0;
  margin: 0 auto;
}

.options-tag {
  font-size: 0.8rem;
  color: grey;
  position: absolute;
  top: 36px;
  right: 60%;
  left: 0;
  margin: 0 auto;
}

.hover {
  color: white;
}

#navigator {
  width: 80%;
  border-bottom: solid 2px grey;
}

#heading {
  padding: 10px 0 5px;
  font-size: 2.5rem;
  color: white;
  font-family: 'Graduate', cursive;
}

#instructions {
  display: none;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 11%;
  width: 510px;
  height: 570px;
  border: 1px solid #4A403A;
  border-radius: 1.5%;
  background-color: black;
  color: white;
  text-align: left;
  font-size: 0.9rem;
}

#options-page {
  display: none;
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 11%;
  width: 510px;
  height: 570px;
  border: 1px solid #4A403A;
  border-radius: 1.5%;
  background-color: black;
  color: white;
  text-align: left;
  font-size: 0.9rem;
}

.close-window {
  background-color: black;
  border-color: black;
  padding: 0 6px;
  float: right;
}

.example {
  font-family: 'Graduate', cursive;
  width: 45px;
  height: 45px;
  margin: 0 2px 8px;
  font-size: 1.7rem;
  color: white;
  border: 2px solid #4A403A;
}

.card-1-letter-1 {
  background-color: #008E89;
  border: 2px solid #008E89;
}

.card-2-letter-3 {
  background-color: #FDB827;
  border: 2px solid #FDB827;
}

.card-3-letter-4 {
  background-color: #4A403A;
  border: 2px solid #4A403A;
}

#feedback {
  opacity: 0;
  color: black;
  font-size: 1rem;
  padding: 10px;
  width: auto;
  height: 8%;
  border: 2px solid white;
  border-radius: 5%;
  background-color: white;
}

#guess-board {
  width: 100%;
  padding: 1% 2% 2%;
}

.flex-row {
  position: relative;
  text-align: center;
}

#card {
  font-family: 'Graduate', cursive;
  width: 60px;
  height: 60px;
  margin: 3px;
  font-size: 2.2rem;
  color: white;
  position: relative;
}

.front {
  border: 2px solid #4A403A;
}

#keyboard {
  width: 100%;
}

.key {
  width: 45px;
  height: 52px;
  font-size: 0.85rem;
  background: #7F7C82;
  color: white;
  margin: 3px;
  border-radius: 8%;
  padding: 14px 10px 10px;
}

.enter {
  width: 67.5px;
  color: black;
  background-color: #D1D1D1;
}

.del {
  width: 67.5px;
  color: black;
  background-color: #D1D1D1;
}

.blue-letter {
  color: #008E89;
}

.yellow-letter {
  color: #FDB827;
}

.red-letter {
  color: #FF0000;
}

.pink-letter {
  color: #FF95C5;
}

.green-letter {
  color: #4E9F3D;
}

.purple-letter {
  color: #9C19E0;
}

.bright-pink-letter {
  color: #FF5DA2;
}

.green {
  background-color: #4E9F3D;
  border: 2px solid #4E9F3D;
}

.blue {
  background-color: #008E89;
  border: 2px solid #008E89;
}

.red {
  background-color: #FF0000;
  border: 2px solid #FF0000;
}

.purple {
  background-color: #9C19E0;
  border: 2px solid #9C19E0;
}

.yellow {
  background-color: #FDB827;
  border: 2px solid #FDB827;
}

.pink {
  background-color: #FF95C5;
  border: 2px solid #FF95C5;
}

.bright-pink {
  background-color: #FF5DA2;
  border: 2px solid #FF5DA2;
}

.black {
  background-color: #4A403A;
  border: 2px solid #4A403A;
}

.pressed {
  box-shadow: 0 20px 20px 0 #4A403A;
  opacity: 0.5;
}

.scheme-hover {
  border: solid 2px white;
}

.end-game {
  color: red;
}

.dim-background {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .key-row-2 {
    width: 100%;
    padding: 0 5%;
  }
  #instructions {
    width: 90%;
  }
}
